.button {
    font: inherit;
    border: 1px solid #00aeef;
    background: #00aeef;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #007dc5;
    border-color: #007dc5;
  }
  
  .button:focus {
    outline: none;
  }