// Here you can add other styles
.sidebar {
   background-color: white;
}
.sidebar-brand {
  background-color: white;
}

.sidebar-nav .nav-group-items .nav-link{
  color:black;
}
.sidebar-nav .nav-group .nav-group-items{
  background-color: white;
  color : black;
}